{% extends "layout.html" %}
{% block content %}
<style>
     body {
            background-image: url("/static/default.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
        }
</style>
<div class="text-center"> 
    
    <font size="+4" >
    Welcome to <font color="Blue" Size="+6"> Zeta </font></font>
    <br> <font size="+2" ><a href="/login">Login</a> or <a href="/register">Register</a> to start shopping
    </font>
    </div>
{% endblock %}