{% extends "layout.html" %}
{% block content %}
<div class="text-center"> 
    <div class="bg-text">
    <font size="+4" >
    Welcome to <font color="#5e9cfa" Size="+6"> Zeta </font></font>
    <br> <font size="+2" ><a href="/login">Login</a> or <a href="/register">Register</a> to start shopping
    </font>
    </div>
    </div>
    <div class="card-transparent">
        <div class="card-header">This is my header</div>
        <div class="card-block special-card" style="background-color: rgba(245, 245, 245, 0.4); ">This is my block</div>
        <div class="card-footer">This is my footer</div>
    </div>
{% endblock %}